* {
    margin : 0;
    padding : 0;
}

h1{
    font-size : 2rem;
    font-weight : bold;
    padding : 3rem;
}



.container{
    min-height : 100vh;
    display : flex;
    align-items : center;
    flex-direction : column;
    justify-content : center;

}

.day,
.hour,
.minute,
.second{

    font-size : 1rem;
    font-weight : bold;


}

.tday,
.thour,
.tmin,
.tsec{

    text-align : center;

}


.timer{
    display : flex;
    justify-content : space-around;

}